<!DOCTYPE HTML>
<html>

<head>
	<title>
		<%= pageTitle %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
</head>

<body cds-text="body">
	<div class="main-container">
		<header class="header-6">
			<div class="branding">
				<span class="title">
					<%= pageTitle %>
				</span>
			</div>
		</header>
		<div class="content-container">
			<div class="content-area">
				<div class="clr-row">
					<div class="clr-col-lg-6 clr-col-md-6 clr-col-12">
						<div class="card">
							<div class="card-block">
								<div class="card-title">
									View Latest Seed Image
								</div>
								<div class="card-text">
									<form action="/seed" method="get">
										<div class="row">
											<button class="btn btn-success" type="submit">View Latest Image</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-block">
								<div class="card-title">
									View Seed Images Gallery
								</div>
								<div class="card-text">
									<form action="/seed-gallery" method="get">
										<div class="row">
											<button class="btn btn-success" type="submit">View Image Gallery</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>


<!-- <!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
		<title>ResConnect Home</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> 
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
		<style>
				body        { padding-top:80px; }
		</style>
</head>
<body>
		<div class="container">
				<div class="jumbotron text-center">
						<img src="images/wallhaven-4l3zxr.jpg" alt="ResConnect Logo"/>
						<h1><span class="fa fa-lock"></span> ResConnect Home</h1>
						<p>Please advise: Only approved personnel by The University of Mississippi Department of Student Housing may access ResConnect.</p>

						<b>Login or Register with:</b><br>

						<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
						<a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span> Register</a>
				</div>
		</div>
</body>
</html> -->